@*@model IEnumerable<Projects>*@
@model ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 style="color: red;">Projects</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Home" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add new Project
            </a>
        </div>
    </div>
</div>
<br />

<div class="container p-3">
    <table class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Project</th>
                <th>Description</th>
                <th>Contributors</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                @if (project.Contributors.Contains(User.Identity.Name))
                {
                    <tr>
                        <td width="17%">
                            @project.Project
                        </td>
                        <td width="17%">
                            @project.Description
                        </td>
                        <td width="10%">
                            @project.Contributors
                        </td>
                        <td width="20%" align="right">
                            <div class="w-40 btn-group" role="group">
                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@project.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                            </div>

                            <div class="w-40 btn-group" role="group">
                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@project.Id" class="btn btn-danger"><i class="bi bi-pencil-square"></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <div>
                <canvas id="myChart1" style="max-width: 300px; max-height: 300px;"></canvas>
            </div>
        </div>
        <div class="col-6">
            <div>
                <canvas id="myChart2" style="max-width:300px; max-height:300px;"></canvas>
            </div>
        </div>
    </div>
</div>

            

<script>
    const ctx1 = document.getElementById('myChart1');

    var highCount = 0;
    var mediumCount = 0;
    var lowCount = 0;

    @foreach(var item in Model.Bugs)
{
           @if(item.Priority == "High")
               {
                   @:highCount++;
   }
               @if(item.Priority == "Medium")
               {
                   @:mediumCount++;
   }
                   @if(item.Priority == "Low")
               {
                   @:lowCount++;
   }


}

            new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: ["High", "Medium", "Low"],
            datasets: [{
                label: '# of Tickets',
                data: [highCount, mediumCount, lowCount],
                borderWidth: 1
            }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'My Pie Chart'
                    }
                }
        });
</script>

<script>
    const ctx2 = document.getElementById('myChart2');

    var completeCount = 0;
    var inprogressCount = 0;
    var pendingCount = 0;

    @foreach(var item in Model.Bugs)
{
           @if(item.Status == "Complete")
               {
                   @:completeCount++;
   }
               @if(item.Status == "In Progress")
               {
                   @:inprogressCount++;
   }
                   @if(item.Status == "Pending")
               {
                   @:pendingCount++;
   }


}

            new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ["Complete", "In Progress", "Pending"],
            datasets: [{
                label: '# of Tickets',
                data: [completeCount, inprogressCount, pendingCount],
                borderWidth: 1
            }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'My Pie Chart'
                    }
                }
        });
</script>
